// Container widths
$container-width: 1550px;

// Colors
$primary-color:		#303E6E;
$secondary-color:	#70C217;
$tertiary-color:	#A065FF;
$white:				#ffffff;

// $secondary-color: #939498;
$grey-50: #F4F4F4;
$grey-200: #A1A8C1;
$tertiary-100: #EADDFF;

// Fonts
$primary-font: 'Urbanist', sans-serif;

// Font Sizes
$font-size-xsmall:	0.8px;
$font-size-small:	0.875em;
$font-size-base:	1em;
$font-size-large:	1.2em;
$font-size-xlarge:	1.375em;

// Font Weights
$font-weight-l: 300;
$font-weight-r: 400;
$font-weight-m: 500;
$font-weight-b: 700;

// Heading sizes
$font-size-h1: 4.69em;
$font-size-h2: 3.1em;
$font-size-h3: 1.875em;
$font-size-h4: 1.65em;
$font-size-h5: 1.5em;
$font-size-h6: 1.4em;

// Breakpoints
$max-xxl: 2560px;
$fhd: 1920px;
$mac: 1440px;
$lt: 1366px;
$ls: 1280px;
$lg: 1199px;
$ipad: 1024px;
$md: 991px;
$sm: 767px;
$mb: 580px;
$mbs: 480px;
$ip: 420px;
$xs: 350px;