.modal-content {
    background-color: transparent;
    z-index: 1;
    @include min-mq ($max-xxl + 30) {
        justify-content: center;
    }
    
}
.modal.show {
    background: #FFC3DC;
    background: -webkit-repeating-radial-gradient(ellipse farthest-corner at bottom right, #FFC3DC 0%, #97B5FC 100%);
    background: -moz-repeating-radial-gradient(ellipse farthest-corner at bottom right, #FFC3DC 0%, #97B5FC 100%);
    background: repeating-radial-gradient(ellipse farthest-corner at bottom right, #FFC3DC 0%, #97B5FC 100%);
}
// #modal-custom-style {
//     @include after-bg-grad;
//     &:after {
//         background: #FFC3DC;
//         background: -webkit-repeating-radial-gradient(ellipse farthest-corner at bottom right, #FFC3DC 0%, #97B5FC 100%);
//         background: -moz-repeating-radial-gradient(ellipse farthest-corner at bottom right, #FFC3DC 0%, #97B5FC 100%);
//         background: repeating-radial-gradient(ellipse farthest-corner at bottom right, #FFC3DC 0%, #97B5FC 100%);
//     }
// }